font_size 12.0

detect_urls yes
mouse_hide_wait 3.0

# Remove beep sound
enable_audio_bell false

# Enable splits layout
enabled_layouts splits

# Window splits
map ctrl+shift+right launch --location=vsplit --cwd=current
map ctrl+shift+down launch --location=hsplit --cwd=current
map ctrl+shift+left launch --location=hsplit --cwd=current

# Window
map ctrl+w close_window
window_margin_width 7
window_border_width 2pt

# Navigate between splits
map ctrl+right neighboring_window right
map ctrl+left neighboring_window left
map ctrl+up neighboring_window up
map ctrl+down neighboring_window down

# BEGIN_KITTY_FONTS
font_family      family="JetBrains Mono NL"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS


